.main-home{
    height: 100%;
    width: 100%;
  
    .header{  

    width: 100%;
    margin-top: 25px;
    display: flexbox;
    height: 100px;
    align-items: center;
    svg{
      margin-top: 25px;
      margin-left: 25px;
    }
   button{
      display: flex;
      float: right;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100px;
      height: 29px;
      border-radius: 15px;
      margin-top: -32px;
      background-color: white;
      margin-right: 65px;
      border: 1px solid #FD53C0;
      cursor: pointer;
      color: #FD53C0;
      &:hover{
        color: white;
        background-color: #fd53bfda;
      }
    }} 
    .one-section{
        margin-top: 100px;
        display: grid;
         justify-content: center;
         p,h1,button{
           margin-top: 20px;
         }
         p{
           margin-left: 155px;
            width: 458px;
            text-align: center;
         }
         h1{
            font-size: 35px;
            font-weight: 800;
         }
         button{
            margin-left: 260px;
            width: 244px;
            border: 1px solid #FD53C0;
            border-radius: 30px;
            background-color: #FD53C0;color: white;
            height: 40px;
            box-shadow: 1px 5px 15px -5px #000000c5;
            cursor: pointer;
            &:hover{
                background-color: #fd53bfbd;

            }
         }
         img{
            width: 643px;
            margin-left: 76px;
            margin-top: 40px;

         }
         

    }
    .two-section{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        img{
            width: 30px;
            height: 30px;
        }
        h1{
            font-size: 50px;
            font-weight: 600;
        }
        h6{
            margin-top: 10px;
            text-align: center;
            font-weight: 300;
            font-size: smaller;
            color: rgba(0, 0, 0, 0.342);
        }
    }
    .three-section{
        margin-top: 40px;
        img{
            width: 100%;
        }
        .three-body{
            display:flex;
            justify-content: space-evenly;
            align-items: center;
            height: 400px;
            background-color: #F6FBFF;
            img{
                width: 373px;
                height: 345px;

            }
            h1{
                font-size: 35px;
                font-weight: 600;
            }
            p{
                margin-top: 15px;
                font-size: 15px;
                color: rgba(0, 0, 0, 0.541);
                width: 450px;
            }
        }
    }
    .four-section{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 40px;
        img{
            width: 373px;
            height: 345px;

        }
        h1{
            font-size: 35px;
            font-weight: 600;
        }
        p{
            margin-top: 15px;
            font-size: 15px;
            color: rgba(0, 0, 0, 0.541);
            width: 450px;
        }
    }
    .five-section{
        margin-top: 100px;
        display: grid;
         justify-content: center;
        h1,button{
            margin-top: 20px;
          }
          
          h1{
             font-size: 28px;
             font-weight: 800;
          }
          button{
             margin-left: 103px;
             width: 244px;
             border: 1px solid #FD53C0;
             border-radius: 30px;
             background-color: #FD53C0;color: white;
             height: 40px;
             box-shadow: 1px 5px 15px -5px #000000c5;
             cursor: pointer;
             &:hover{
                 background-color: #fd53bfbd;
 
             }
          }  
    }
    .footer{
        width: 100%;
        margin-top: 50px;
        &::after{
            position: absolute;
            content: "";
            width: 100%;
            height: 5px;
            background-color: #00252E;
            margin-top: -260px;
        }
        img{
            width: 100%;
        }
        .footer-body{
             height: 100%;
             color: white;
             background-color: #00252E;
             display: flex;
             align-items: center;
             justify-content: space-evenly;
             padding-bottom: 20px;
             .footer-left{
                margin-left: 50px;
                width: 600px;
                p{
                    margin-top: 10px;
                    width: 290px;
                    color: #f6fbff7c;
                    font-size: 13px;
                }
                h5{
                    margin-top: 15px;
                    color: #f6fbff85;
                    img{
                         margin-right: 12px;
                    } 
                }
                .social-icon{
                    svg{
                        width: 25px;
                        height: 25px;
                        margin-top: 45px;
                        margin-left: 15px;
                        cursor: pointer;
                        transition: 0.5s;
                        &:hover{
                            transform: scale(1.1);

                        }
                        
                    }
                }
             }
             .footer-right{
                width: 600px;
                h4{
                    font-size: 20px;
                }
                p{
                    margin-top: 15px;
                    width: 263px;
                    font-size: 13px;
                    color: #f6fbff80;
                }
                input{
                    margin-top: 15px;
                    height: 30px;
                    border-radius: 9px;
                    padding-left: 5px;
                }
                button{
                    width: 100px;
                    height: 30px;
                    cursor: pointer;
                    border-radius: 7px;
                    background-color: #FD53C0;
                    color: #F6FBFF;
                    &:hover{
                        background-color: #fd53bf8f;
                    }
                }
             }
           
             .logo{
                margin-top: 20px;
                width: 157px;
                height: 21px
             }
             img{
              width: 17px; height: 14px;
             }
        }
       
    }
}
@media (max-width:400px) {
    .main-home{
        height: 100%;
        width: 100%;
      
        .header{  
        width: 100%;
        margin-top: 25px;
        display: flexbox;
        height: 100px;
        align-items: center;
        svg{
          margin-top: 25px;
          margin-left: 25px;
        }
       button{
        
          font-size: 21px;
          width: 145px;
          font-weight: 600;
          height: 41px;
          border-radius: 15px;
          margin-top: -39px;
          margin-right: -148px;
          
        
        }} 
        .one-section{
            margin-top: 100px;
            display: grid;
             justify-content: center;
             p,h1,button{
               margin-top: 20px;
             }
             p{
               margin-left: 213px;
                width: 458px;
                text-align: center;
             }
             h1{
                font-size: 35px;
                font-weight: 800;
                margin-left: 252px;
             }
             button{
                margin-left: 311px;
                width: 244px;
                border: 1px solid #FD53C0;
                border-radius: 30px;
                background-color: #FD53C0;color: white;
                height: 40px;
                box-shadow: 1px 5px 15px -5px #000000c5;
                cursor: pointer;
                &:hover{
                    background-color: #fd53bfbd;
    
                }
             }
             img{
                width: 558px;
               margin-left: 174px;
                margin-top: 40px;
    
             }
             
    
        }
        .two-section{
            margin-top: 50px;
            margin-left: 104px;
            display: grid;
            width: 100%;
            
            img{
                margin-top: 50px;
                width: 30px;
                height: 30px;
            }
            h1{
                font-size: 50px;
                font-weight: 600;
            }
            h6{
                margin-top: 10px;
                text-align: center;
                font-weight: 300;
                font-size: smaller;
                color: rgba(0, 0, 0, 0.342);
            }
        }
        .three-section{
            margin-top: 40px;
            width: 100%;
            margin-left: 107px;
            img{
                width: 100%;
            }
            .three-body{
                display:grid;
                height: 100%;
                background-color: #F6FBFF;
                img{
                    margin-top: 20px;
                    width: 373px;
                    height: 345px;
    
                }
                h1{
                    text-align: center;
                    font-size: 35px;
                    font-weight: 600;
                }
                p{
                    text-align: center;

                    margin-top: 15px;
                    font-size: 15px;
                    color: rgba(0, 0, 0, 0.541);
                    width: 450px;
                }
            }
        }
        .four-section{
            display: grid;
            width: 100%  ;
            margin-top: 40px;
            margin-left: 101px;
            img{
                width: 373px;
                height: 345px;
    
            }
            h1{
                text-align: center;

                font-size: 35px;
                font-weight: 600;
            }
            p{
                text-align: center;
                margin-top: 15px;
                font-size: 15px;
                color: rgba(0, 0, 0, 0.541);
                width: 450px;
            }
        }
        .five-section{
            margin-top: 100px;
            width: 100%;
            display: grid;
             justify-content: center;
            h1,button{
                text-align: center;
                margin-top: 20px;
                margin-left: 86px;
                width: 100%;
              }
              h1{
                 font-size: 28px;
                 font-weight: 800;
                 width: 100%;
              }
              button{
                 margin-left: 175px;
                 width: 244px;
                 border: 1px solid #FD53C0;
                 border-radius: 30px;
                 background-color: #FD53C0;color: white;
                 height: 40px;
                 box-shadow: 1px 5px 15px -5px #000000c5;
                 cursor: pointer;
                 &:hover{
                     background-color: #fd53bfbd;
     
                 }
              }  
        }
        .footer{
            width: 100%;
            display: grid;
            margin-top: 50px;
            &::after{
                position: absolute;
                content: "";
                width: 554px;
                height: 10px;
                background-color: #00252E;
                margin-top: 56px;
            }
            img{
                width: 100%;
            }
            .footer-body{
                 height: 100%;
                 color: white;
                 background-color: #00252E;
                 display: grid;
                
                 width: 100%;
                 padding-bottom: 20px;
                 .footer-left{
                    margin-left: 178px;

                    width: 381px;
                    p{
                        margin-top: 10px;
                        width: 290px;
                        color: #f6fbff7c;
                        font-size: 13px;
                    }
                    h5{
                        margin-top: 15px;
                        color: #f6fbff85;
                        img{
                             margin-right: 12px;
                        } 
                    }
                    .social-icon{
                        svg{
                            width: 25px;
                            height: 25px;
                            margin-top: 45px;
                            margin-left: 15px;
                            cursor: pointer;
                            transition: 0.5s;
                            &:hover{
                                transform: scale(1.1);
    
                            }
                            
                        }
                    }
                 }
                 .footer-right{
                    width: 339px;
                    margin-left: 177px;
                    h4{
                        margin-top: 40px;
                        font-size: 20px;
                    }
                    p{
                        margin-top: 15px;
                        width: 263px;
                        font-size: 13px;
                        color: #f6fbff80;
                    }
                    input{
                        margin-top: 15px;
                        height: 30px;
                        border-radius: 9px;
                        padding-left: 5px;
                    }
                    button{
                        width: 100px;
                        height: 30px;
                        cursor: pointer;
                        border-radius: 7px;
                        background-color: #FD53C0;
                        color: #F6FBFF;
                        &:hover{
                            background-color: #fd53bf8f;
                        }
                    }
                 }
               
                 .logo{
                    margin-top: 20px;
                    width: 157px;
                    height: 21px
                 }
                 img{
                  width: 17px; height: 14px;
                 }
            }
           
        }
      
    }
    
}
    